* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  min-width: 360px !important; }

body {
  background-color: black;
  color: white; }

li {
  padding: 0 1rem;
  margin: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media screen and (min-width: 1024px) {
    html {
      font-size: 68.75%; } }
  @media screen and (min-width: 1400px) {
    html {
      font-size: 75%; } }

* {
  font-family: "DM Sans", sans-serif; }

h1,
h2,
h3 {
  margin: 3rem 0 1.5rem 0;
  line-height: 1.5;
  font-size: 3rem;
  letter-spacing: 1px;
  font-family: "Space Grotesk", sans-serif; }

p {
  line-height: 1.5; }

.main-nav {
  margin: 1rem 0;
  color: white; }
  .main-nav ul {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .main-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: fit-content;
        opacity: 1;
        max-height: 100rem;
        color: white; }
        .main-nav ul .btn, .main-nav ul .btn--small {
          display: none; } }
  .main-nav li {
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 400;
    margin: 1.5rem 0;
    transition: all 0.3s ease-in-out; }
    @media screen and (min-width: 1024px) {
      .main-nav li {
        padding: 0.1rem 0.7rem;
        margin: 0 2rem; } }
    .main-nav li:hover {
      color: darkgray; }
  .main-nav .btn, .main-nav .btn--small {
    margin: 3rem 0 3rem 0;
    width: fit-content; }

.btn, .btn--small {
  font-family: "Space Grotesk", sans-serif;
  background: #1b1b1b;
  background: linear-gradient(90deg, #525252 0%, white 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.2rem 2.6rem;
  border-radius: 30px;
  outline: none;
  border: 0;
  font-weight: 500;
  letter-spacing: 1px;
  color: black; }
  .btn:hover, .btn--small:hover {
    background: linear-gradient(90deg, white 0%, #525252 100%); }
  .btn .icon, .btn--small .icon {
    margin-left: 2rem; }

.btn--small {
  font-size: 1.5rem;
  max-width: 10rem;
  padding: 0.8rem 1rem; }

.collapsible__header {
  cursor: pointer; }

.collapsible__body {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out; }

.collapsible--expanded .collapsible__body {
  max-height: 100rem;
  opacity: 1; }

.side-overlay {
  width: 30%;
  height: 100vh;
  background-color: #b6b6b6;
  text-align: center;
  position: fixed;
  top: 0;
  right: -30%;
  transition: all 0.3s ease-in-out;
  z-index: 10;
  padding: 25rem 5rem;
  color: #1a1a1a; }
  .side-overlay .cross-icon {
    font-size: 3rem;
    color: #4d4d4d;
    position: absolute;
    top: 17%;
    right: 20%;
    transition: all 0.3s ease-in-out; }
    .side-overlay .cross-icon:hover {
      color: black; }
  .side-overlay__text {
    margin-bottom: 2.5rem;
    font-size: 1.6rem; }
  .side-overlay__title {
    margin: 3rem;
    font-size: 3.4rem; }
  .side-overlay .btn--small {
    margin: auto; }

.side-overlay--expanded {
  right: 0; }

.card-container {
  max-width: 54rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.3rem; }
  @media screen and (min-width: 768px) {
    .card-container {
      max-width: 70rem; } }
  @media screen and (min-width: 1024px) {
    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 104rem; } }
  @media screen and (min-width: 1400px) {
    .card-container {
      max-width: 132rem; } }
  .card-container .card {
    width: 100%;
    margin-bottom: 5.5rem;
    padding: 1.2rem; }
  .card-container .card-icon {
    margin-bottom: 1.8rem; }
    .card-container .card-icon i {
      font-size: 8.2rem;
      color: gray; }
  .card-container .card__heading {
    margin-bottom: 1.8rem;
    font-size: 3.4rem;
    font-weight: 500;
    line-height: 1.5; }
  .card-container .card__description {
    color: #b6b6b6;
    font-size: 1.8rem;
    line-height: 1.5;
    font-weight: 400; }

.updates-card {
  width: 100%;
  margin-bottom: 3rem;
  font-size: 1.6rem; }
  .updates-card__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: white; }
  .updates-card .img-container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    overflow: hidden; }
    .updates-card .img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.3s ease-in-out; }
  .updates-card .content {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2.4rem 2.8rem;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    text-align: left; }
  .updates-card .content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-image: linear-gradient(0deg, #000000 0, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    height: 100%;
    transition: all 0.3s ease-in-out; }
    .updates-card .content-overlay:hover {
      opacity: 0.3; }
  .updates-card .card__date {
    display: inline;
    padding: 0 1rem;
    border: 1px solid white;
    border-radius: 8px; }
  .updates-card .card__description {
    margin: 2rem 0;
    font-weight: 500; }
  .updates-card .card__author {
    margin-top: 2.8rem;
    color: #d0d0d0; }

.technology-text {
  padding: 8rem 0;
  color: white; }
  .technology-text .text-container {
    width: 100%;
    padding: 0 2.5rem;
    text-align: center;
    margin: auto;
    max-width: 120rem; }
  .technology-text .text {
    font-size: 3.4rem; }
    @media screen and (min-width: 1024px) {
      .technology-text .text {
        width: 70%;
        margin: auto; } }

.plan-card {
  padding: 4.5rem 3rem 6rem;
  margin-bottom: 4rem;
  border: 1px solid #373737;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .plan-card .plan__duration {
    font-size: 1.6rem;
    color: #b6b6b6;
    text-transform: uppercase;
    font-weight: 400; }
  .plan-card .plan__price {
    height: min-content;
    font-size: 6rem;
    text-justify: stretch;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    top: -0.7rem; }
    .plan-card .plan__price span {
      margin: 0 0.5rem;
      font-size: 3rem; }
  .plan-card .plan__title {
    margin-top: 0;
    font-size: 3rem;
    font-weight: 400; }
  .plan-card .plan-benefits li {
    margin: 1rem 0;
    padding: 0;
    color: #b6b6b6;
    font-size: 1.7rem; }
  .plan-card .btn, .plan-card .btn--small {
    margin-top: 4rem;
    font-size: 1.5rem;
    width: fit-content;
    font-weight: 400; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 3rem; }
  .header .logo {
    width: 5rem;
    position: relative;
    top: 3px;
    padding: 0; }
    .header .logo img {
      width: 100%; }
  .header .hamburger-icon {
    font-size: 3rem; }
    @media screen and (min-width: 1024px) {
      .header .hamburger-icon {
        display: none; } }
  .header .cross-icon {
    display: none; }
  .header .side-overlay-btn {
    display: none; }
  .header .main-nav {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .header .main-nav {
        width: auto; } }
  @media screen and (min-width: 1024px) {
    .header .side-overlay-btn {
      display: block;
      font-size: 2.5rem;
      transition: all 0.1s ease-in-out; }
      .header .side-overlay-btn:hover {
        transform: scaleX(1.4); } }

.banner {
  width: 100%;
  height: 100vh;
  padding: 0 5rem;
  position: relative; }
  .banner .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(0.2);
    z-index: -10; }
  .banner__content {
    position: absolute;
    width: 90%;
    bottom: 50%;
    left: 5%;
    transform: translate(0, 50%); }
    @media screen and (min-width: 1024px) {
      .banner__content {
        bottom: 25%; } }
  .banner__title {
    font-size: 6rem;
    margin-bottom: 5rem;
    font-family: "Space Grotesk", sans-serif; }
  .banner__description {
    margin: 5rem 0;
    max-width: 80rem;
    font-size: 2rem;
    font-family: "DM Sans", sans-serif; }

.features {
  width: 100%;
  padding: 8rem 0; }
  @media screen and (min-width: 1024px) {
    .features {
      padding: 5rem 0; } }
  .features .feature-container {
    width: 100%;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .features .feature-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
    @media screen and (min-width: 1024px) {
      .features .feature-container {
        padding: 0 5rem; } }
  .features .feature {
    width: 100%;
    height: 30rem;
    padding: 0 2.5rem;
    margin-bottom: 2.5rem; }
  .features .feature__link {
    display: block;
    cursor: pointer;
    width: 100%;
    height: 100%;
    position: relative; }
  .features .feature__img {
    width: 100%;
    height: 100%;
    opacity: 0.7;
    filter: brightness(90%);
    overflow: hidden; }
    .features .feature__img img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s ease-in-out; }
      .features .feature__img img:hover {
        transform: scale(1.03); }
  .features .feature__title {
    position: absolute;
    letter-spacing: 1.2px;
    font-size: 4rem;
    font-weight: 500;
    color: white;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.information {
  padding: 8rem 0; }
  @media screen and (min-width: 1024px) {
    .information {
      padding: 5rem 0; } }
  .information #second-icon {
    transform: rotateZ(42deg); }

.updates {
  padding: 8rem 0; }
  @media screen and (min-width: 1024px) {
    .updates {
      padding: 5rem 0; } }
  .updates .grid-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 51rem); }
    @media screen and (min-width: 768px) {
      .updates .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 51rem);
        column-gap: 2.5rem; } }
    @media screen and (min-width: 1024px) {
      .updates .grid-container {
        grid-template-rows: 51rem;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 3rem; } }

.technology {
  padding: 8rem 0; }
  @media screen and (min-width: 1024px) {
    .technology {
      padding: 5rem 0; } }
  .technology .container {
    width: 100%;
    max-width: 54rem;
    margin: auto;
    padding: 0 1.2rem; }
    @media screen and (min-width: 768px) {
      .technology .container {
        max-width: 76.8rem; } }
    @media screen and (min-width: 1024px) {
      .technology .container {
        max-width: 104rem; } }
    @media screen and (min-width: 1400px) {
      .technology .container {
        max-width: 132rem; } }
  .technology .header {
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 6.4rem;
    padding: 1.2rem; }
    @media screen and (min-width: 1024px) {
      .technology .header {
        width: 50%;
        margin: 0 auto 6.4rem; } }
    .technology .header .main-heading {
      width: 100%;
      margin-top: 0;
      font-size: 3.5rem;
      margin-bottom: 2.5rem;
      text-align: center;
      font-weight: 400; }
    .technology .header .sub-heading {
      text-align: center;
      font-size: 1.6rem;
      color: #b6b6b6; }

@media screen and (min-width: 1024px) {
  .content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center; } }

@media screen and (min-width: 1024px) {
  .content {
    grid-template-columns: 0.4fr 0.6fr 0.4fr;
    text-align: right; } }

.content .card-container {
  flex-direction: column;
  padding: 0 1.6rem; }

.content .card {
  margin-bottom: 4rem;
  padding: 0; }

.content .card__heading {
  margin-top: 0;
  font-size: 2.8rem;
  font-weight: 400; }

.content .img-container {
  padding: 1.2rem;
  width: 100%;
  height: 27rem;
  margin-bottom: 4rem; }
  @media screen and (min-width: 768px) {
    .content .img-container {
      padding: 1.2rem 4rem; } }
  @media screen and (min-width: 1024px) {
    .content .img-container {
      padding: 1.2rem 3rem; } }
  .content .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.showcase {
  width: 100%;
  min-height: 100rem;
  padding: 8rem 0 2rem; }
  @media screen and (min-width: 1024px) {
    .showcase {
      padding: 5rem 0; } }
  .showcase .container {
    width: 100%;
    height: 100%; }
    @media screen and (min-width: 1024px) {
      .showcase .container {
        display: grid;
        column-gap: 10rem;
        grid-template-columns: 0.6fr 0.4fr; } }
  .showcase__img-container {
    width: 100%;
    height: 40rem;
    margin-bottom: 10rem; }
    @media screen and (min-width: 1024px) {
      .showcase__img-container {
        width: 100%;
        height: 100%; } }
    .showcase__img-container img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .showcase__content {
    padding: 1.2rem; }
    @media screen and (min-width: 1024px) {
      .showcase__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
  .showcase .card-container {
    max-width: 100%;
    margin: 0;
    width: 100%;
    margin: 0; }
    @media screen and (min-width: 1024px) {
      .showcase .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
  .showcase .card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 7rem; }
    @media screen and (min-width: 1024px) {
      .showcase .card {
        width: 100%;
        margin-bottom: 4rem; } }
  .showcase .card__heading {
    font-size: 2.8rem;
    font-weight: 400;
    margin: 0;
    margin-bottom: 1.5rem; }
  .showcase .card-icon {
    padding: 0.1rem; }
    .showcase .card-icon i {
      width: 9rem;
      margin-right: 2.5rem; }

.product {
  margin-bottom: 3.5rem; }
  .product .container {
    max-width: 54rem;
    padding: 0 1.2rem;
    width: 100%;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      .product .container {
        max-width: 72rem; } }
    @media screen and (min-width: 1024px) {
      .product .container {
        max-width: 114rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5rem; } }
    @media screen and (min-width: 1400px) {
      .product .container {
        max-width: 132rem; } }
  .product .card {
    padding: 0 1rem;
    margin-bottom: 10rem; }
    @media screen and (min-width: 1024px) {
      .product .card {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 0; } }
  .product .card__heading {
    margin: 0;
    font-size: 4rem;
    font-weight: 300; }
  .product .card__description {
    margin-top: 2.5rem;
    font-size: 1.7rem;
    color: #b6b6b6; }
  .product .btn, .product .btn--small {
    margin-top: 4rem;
    font-size: 1.7rem; }
  .product .product__image {
    padding: 0 1.2rem;
    width: 100%;
    height: 40rem; }
    @media screen and (min-width: 1024px) {
      .product .product__image {
        order: -1; } }
    .product .product__image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.photo-gallery {
  width: 100%;
  padding: 8rem 0; }
  .photo-gallery .container {
    display: grid;
    grid-template-rows: repeat(6, 31rem);
    grid-template-columns: 1fr; }
    @media screen and (min-width: 1024px) {
      .photo-gallery .container {
        grid-template-rows: repeat(2, 31rem);
        grid-template-columns: repeat(3, 1fr); } }
  .photo-gallery .item {
    width: 100%;
    height: 100%;
    position: relative; }
    .photo-gallery .item .background-img {
      position: absolute;
      filter: brightness(0.5);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1; }
      .photo-gallery .item .background-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .photo-gallery .card-container {
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 6rem 3rem;
    text-align: center; }
    @media screen and (min-width: 1024px) {
      .photo-gallery .card-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
  .photo-gallery .card__heading {
    margin-top: 0;
    font-size: 4rem;
    font-weight: 400; }
  .photo-gallery .card__description {
    font-size: 1.8rem;
    margin: 0 auto;
    color: #b6b6b6;
    text-align: center;
    width: 20ch; }
  .photo-gallery .btn, .photo-gallery .btn--small {
    font-size: 1.5rem;
    color: white;
    font-weight: 400;
    margin: 1rem;
    background: transparent; }
    .photo-gallery .btn i, .photo-gallery .btn--small i {
      transition: all 0.3s ease-in-out; }
    .photo-gallery .btn:hover i, .photo-gallery .btn--small:hover i {
      transform: translateX(0.2rem); }
  .photo-gallery #item5 {
    padding: 1rem;
    filter: brightness(0.5);
    font-size: 20.7rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 1024px) {
      .photo-gallery #item5 {
        font-size: 17rem; } }

.plans {
  padding: 5rem 0; }
  @media screen and (min-width: 1024px) {
    .plans {
      padding: 5rem 0; } }
  .plans .plan-cards-container {
    padding: 0 2.4rem;
    width: 100%;
    margin: auto;
    max-width: 65rem; }
    @media screen and (min-width: 1024px) {
      .plans .plan-cards-container {
        max-width: 100%;
        padding: 0 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3rem; } }
  .plans .highlighted {
    background: linear-gradient(#838383, #b6b6b6);
    color: black; }
    .plans .highlighted .plan__duration {
      color: black; }

.contact-us {
  width: 100%; }
  .contact-us .container {
    padding: 0 1.5rem;
    margin: auto; }
    @media screen and (min-width: 768px) {
      .contact-us .container {
        max-width: 72rem; } }
    @media screen and (min-width: 1024px) {
      .contact-us .container {
        max-width: 102rem;
        display: grid;
        grid-template-columns: 1fr 1fr; } }
    @media screen and (min-width: 1400px) {
      .contact-us .container {
        max-width: 132rem;
        display: grid;
        grid-template-columns: 1fr 1fr; } }
  .contact-us .content {
    text-align: left; }
    @media screen and (min-width: 1024px) {
      .contact-us .content {
        display: flex;
        flex-direction: column; } }
    .contact-us .content .header {
      margin-bottom: 0;
      width: 100%; }
    .contact-us .content .main-heading {
      margin-bottom: 2rem;
      text-align: left; }
    .contact-us .content .sub-heading {
      text-align: left;
      margin-bottom: 2rem; }
    .contact-us .content .card-container {
      margin: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      align-items: flex-start;
      flex-direction: column; }
      @media screen and (min-width: 768px) {
        .contact-us .content .card-container {
          flex-direction: row; } }
    .contact-us .content .card {
      margin: 0 0.5rem 3rem; }
    .contact-us .content .card__heading {
      font-size: 1.7rem; }
  .contact-us form {
    padding: 5rem 2.5rem;
    display: grid; }
    @media screen and (min-width: 1024px) {
      .contact-us form {
        padding-top: 2.5rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 2rem; } }
    .contact-us form input,
    .contact-us form textarea {
      color: white;
      font-size: 1.6rem;
      width: 100%;
      background-color: transparent;
      outline: none;
      padding: 1rem 1.3rem;
      margin-bottom: 2.4rem;
      border: 0;
      border-bottom: 1px solid #373737; }
    @media screen and (min-width: 1024px) {
      .contact-us form textarea {
        grid-column: 1 / -1;
        grid-row: 2 / 3; } }
    @media screen and (min-width: 1024px) {
      .contact-us form .email {
        grid-column: 2 / -1;
        grid-row: 1 / 2; } }
    .contact-us form .btn, .contact-us form .btn--small {
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 5rem;
      margin-left: auto; }
      @media screen and (min-width: 1024px) {
        .contact-us form .btn, .contact-us form .btn--small {
          width: 80%;
          grid-column: 2 / -1;
          grid-row: 3 / 4;
          margin-left: auto; } }

.feedback {
  padding: 8rem 0;
  width: 100%; }
  .feedback .container {
    padding: 0 3rem;
    width: 100%;
    display: grid;
    gap: 5rem;
    grid-template-rows: 30rem 22rem; }
    @media screen and (min-width: 1024px) {
      .feedback .container {
        padding: 0 6rem;
        grid-template-rows: 65rem;
        grid-template-columns: 0.65fr 0.35fr; } }
  .feedback .img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #373737; }
    .feedback .img-container img {
      width: 100%;
      object-fit: cover;
      height: 100%; }
  .feedback .slideshow {
    border: 1px solid #373737;
    position: relative;
    overflow: hidden; }
    .feedback .slideshow .icon {
      position: absolute;
      font-size: 2rem;
      bottom: 15%;
      right: 20%; }
    .feedback .slideshow .slide {
      text-align: center;
      margin: auto;
      padding: 5rem 2.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      justify-content: space-around;
      font-size: 1.6rem;
      transition: all 0.1s ease-in-out;
      animation: animation 10s infinite ease-in-out; }

@keyframes animation {
  0% {
    opacity: 0%;
    right: -100%; }
  2% {
    opacity: 1;
    right: 0; }
  18% {
    opacity: 1;
    right: 0; }
  20% {
    opacity: 0;
    left: 0; }
  100% {
    opacity: 0;
    left: -100%; } }
      @media screen and (min-width: 1024px) {
        .feedback .slideshow .slide {
          padding: 14rem 5rem; } }
    .feedback .slideshow #slide-1 {
      animation-delay: 0s; }
    .feedback .slideshow #slide-2 {
      animation-delay: 2s; }
    .feedback .slideshow #slide-3 {
      animation-delay: 4s; }
    .feedback .slideshow #slide-4 {
      animation-delay: 6s; }
    .feedback .slideshow #slide-5 {
      animation-delay: 8s; }

.images {
  padding: 8rem 0; }
  .images .container {
    width: 100%;
    padding: 0 4rem;
    gap: 5rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 10.8rem);
    justify-items: center; }
    @media screen and (min-width: 768px) {
      .images .container {
        justify-content: center;
        gap: 6rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 10.8rem); } }
    @media screen and (min-width: 1024px) {
      .images .container {
        justify-content: center;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 10.8rem; } }
  .images .img-container {
    width: 10.8rem;
    height: 10.8rem; }
    .images .img-container img {
      width: 100%;
      height: 100%; }

.footer {
  width: 100%;
  padding: 8rem 0; }
  .footer .card-container {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0 3rem;
    display: grid;
    grid-template-rows: repeat(4, fit-content); }
    @media screen and (min-width: 768px) {
      .footer .card-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: space-between;
        justify-items: space-between;
        align-items: center; } }
    @media screen and (min-width: 1024px) {
      .footer .card-container {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr; } }
  .footer .card li {
    padding: 0;
    margin: 0;
    font-size: 1.8rem;
    margin-bottom: 1rem; }
    .footer .card li:hover {
      color: white; }
  .footer .card .logo {
    width: 5rem;
    height: 5rem; }
    .footer .card .logo img {
      width: 100%;
      height: 100%; }
  .footer .card .text {
    margin: 1rem 0; }
  .footer .card .copy-text {
    font-weight: 500;
    color: white; }
  .footer .card .btn, .footer .card .btn--small {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 5rem; }
