.banner {
  width: 100%;
  height: 100vh;
  padding: 0 5rem;
  position: relative;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("/assets/background1.jpg");
    background-size: cover;
    background-attachment: fixed;
    filter: opacity(0.2);
    z-index: -10;
  }

  &__content {
    position: absolute;
    width: 90%;

    bottom: 50%;
    left: 5%;
    transform: translate(0, 50%);

    @include response(large) {
      bottom: 25%;
    }
  }

  &__title {
    font-size: $font-lg * 2;
    margin-bottom: 5rem;
    font-family: "Space Grotesk", sans-serif;
  }

  &__description {
    margin: 5rem 0;
    max-width: 80rem;
    font-size: $font-md;
    font-family: "DM Sans", sans-serif;
  }
}
