.main-nav {
  // padding: 3.4rem;
  margin: 1rem 0;
  color: white;
  ul {
    width: 100%;
    @include response(large) {
      @include flex-layout;
      width: fit-content;
      opacity: 1;
      max-height: 100rem;
      color: white;
      // background-color: red;

      .btn {
        display: none;
      }
    }
  }
  li {
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 500;
    margin: 1.5rem 0;
  }

  .btn {
    margin: 3rem 0 3rem 0;
    width: fit-content;
  }
}
