.side-overlay {
  width: 30%;
  height: 100vh;
  background-color: $color-primary;
  text-align: center;
  position: fixed;
  top: 0;
  right: -30%;
  transition: all 0.3s ease-in-out;

  z-index: 10;
  padding: 25rem 5rem;
  color: lighten(black, 10%);
  // position: relative;

  .cross-icon {
    font-size: 3rem;
    color: lighten($color: #000000, $amount: 30%);
    position: absolute;
    top: 17%;
    right: 20%;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: black;
    }
  }

  &__text {
    margin-bottom: 2.5rem;
    font-size: 1.6rem;
  }

  &__title {
    margin: 3rem;
    font-size: 3.4rem;
  }

  .btn--small {
    margin: auto;
  }
}

.side-overlay--expanded {
  right: 0;
}
