* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
}

li {
  padding: 0 1rem;
  margin: 0;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
