@mixin flex-layout($direction: row) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin response($key) {
  $size: map-get(
    $map: $breakpoints,
    $key: $key,
  );
  @media screen and (min-width: $size) {
    @content;
  }
}

@mixin padding {
  @include response(large) {
    padding: 5rem 0;
  }
}

@mixin border-bottom {
  border-bottom: 1px solid $color-primary;

  @include response(medium) {
    border: none;
  }
}

@mixin slideshow-animation {
  @keyframes animation {
    0% {
      opacity: 0%;
      right: -100%;
    }
    2% {
      opacity: 1;
      right: 0;
    }
    18% {
      opacity: 1;
      right: 0;
    }
    20% {
      opacity: 0;
      left: 0;
    }
    100% {
      opacity: 0;
      left: -100%;
    }
  }

  animation: animation 10s infinite ease-in-out;
}
