$font-lg: 3rem;
$font-sm: 1rem;
$font-md: 2rem;

$color-primary: rgb(182, 182, 182);

$color-text: #b6b6b6;

$breakpoints: (
  "small": 320px,
  "medium": 768px,
  "large": 1024px,
  "xlarge": 1400px,
);

$animation-delay: 1 0s, 2 2s, 3 4s, 4 6s, 5 8s;
